body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #de1887;
  font-family: "Lobster", cursive;
}
.container {
  width: 800px;
  height: 500px;
  border-radius: 50px;
  background: #de1887;
  box-shadow: 20px 20px 60px #bd1473, -20px -20px 60px #ff1c9b;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.easter {
  width: 50%;
}
.banner {
  color: #fff;
  font-size: 4rem;
  animation: blink infinite 2s;
  text-align: center;
  position: relative;
}
h2.banner:after {
  position: absolute;
  content: "Happy Easter";
  top: 0;
  left: 37px;
  color: #b5b4b4;
}
.egg {
  border-radius: 50%/60% 60% 40% 40%;
  height: 300px;
  width: 200px;
  margin: 0 auto;
  box-shadow: inset 20px 20px 60px #bd1473, inset -20px -20px 60px #ff1c9b;
  animation: bounce infinite 1s;
}
@keyframes bounce {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes blink {
  from {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #fff;
  }
  to {
    color: #fff;
    text-shadow: none;
  }
}
