html {
  height:100%;
  scroll-behavior: smooth;
}
body {
  height: 4000px;
}
video {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transform: translate(-50%,-50%);
}
h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  z-index: 99;
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size:8vmin;
  text-align:center;
  color: white;
  text-transform: uppercase;
}