body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f31457;
    height: 100vh;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
}

.container {
    position: relative;
    display: inline-block;
    width: 14%;
    height: 100px;
    border-radius: 70px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    left: 14px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    -webkit-box-shadow: 0px 0px 65px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 65px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 65px 0px rgba(255,255,255,1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
}

.slider.round {
    border-radius: 70px;
}

.slider.round:before {
    border-radius: 50%;
}
.lamp {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-25%);
    height: 100vh;
    width: 500px;
    text-align: right;
}
.lamp i::before {
    font-size: 300px;
    margin: 0;
    color: #fff;
}