@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --font-light: #808080;
  --primary-color: #FAED00;
}
body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.book {
    box-shadow: 0px 5px 13px -3px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
}
.description , .form{
    width: 40%;
    padding: 5%;
}
.description h1 {
    text-transform: uppercase;
    color: var(--font-light);
    font-weight: 400;
    margin-top: 0;
}
.description h1 strong{
  font-weight: 700;
  color: #000;
}
.description p {
    color: var(--font-light);
    font-size: 14px;
    line-height: 22px;
}
.quote p {
    font-style: italic;
    padding: 2%;
    border-left: 4px solid var(--primary-color);
}
.description ul {
    padding-left: 16px;
    list-style: circle;
}
.description ul li{
    margin: 10px 0;
}
.form{
  background: var(--primary-color);
}
.form form{
  color: var(--font-light);
    display: flex;
  flex-wrap: wrap;
}
.inpbox.full {
    width: 100%;
    background: #fff;
    padding: 3%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.inpbox span::before {
    margin-left: 0;
}
.inpbox span {
    padding-right: 10px;
    border-right: 2px solid var(--font-light);
}
.form select{
    border: 0;
    width: 90%;
    color: var(--font-light);
}
form input {
    border: 0;
    width: 74%;
    color: var(--font-light);
    padding: 0 4%;
}
.form select:focus, form input {
  outline: none;
}
.inpbox {
    width: 42%;
    background: #fff;
    padding: 3%;
    margin-bottom: 20px;
    margin-right: 2%;
}
.inrbox{
  width: 33%;
  color: #000;
}
.inrbox span{
  padding-right: 10px;
}
.inrbox span {
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
}
.form input[type="radio"] {
    width: unset;
}
button.subt, button.rst{
  padding: 2% 3%;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}
button.subt {
    margin-right: 3%;
    background: #fff;
}
button.rst {
    background: #000;
    color: #fff;
}