<!DOCTYPE html>
<html>

<head>
    <title>Pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container">
  	<div class="box">
  		<div class="item"><a href="#!"><i class="fa fa-angle-left"></i></a></div>
 		<div class="item active"><a href="#!">1</a></div>
 		<div class="item"><a href="#!">2</a></div>
 		<div class="item"><a href="#!">3</a></div>
 		<div class="item"><a href="#!">4</a></div>
 		<div class="item"><a href="#!">5</a></div>
 		<div class="item"><a href="#!">...</a></div>
 		<div class="item"><a href="#!">237</a></div>
  		<div class="item"><a href="#!"><i class="fa fa-angle-right"></i></a></div>
  	</div>
    </div>
</body>
</html>