@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
body{
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #023B6F;
	background: -webkit-linear-gradient(top, #023B6F, #192B5D);
	background: -moz-linear-gradient(top, #023B6F, #192B5D);
	background: linear-gradient(to bottom, #023B6F, #192B5D);
	font-family: 'Baloo Thambi 2', cursive;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.fullbox{
	width: 100%;
}
.fullbox h1{
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	color: #fff;
	margin: 10px 0;
}
.fullbox p{
	text-align: center;
	color: #fff;
}
.box {
    width: 23%;
    border-radius: 12px;
    margin: 1%;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    transition: 0.3s;
}
.box i:before {
    margin-left: 0;
    font-size: 76px;
}
.box:hover{
	transform: translateY(-10px);
}
.box:hover ::before{
	transform: scale(1.5);
}
.box span {
    font-size: 30px;
}
.box i {
    display: block;
    padding: 10%;
    background: #ffffff47;
    margin: 6%;
    border-radius: 12px;
}
.box p {
    margin: 14px;
}
.b1 {
    background: #a9266f;
}
.b2 {
    background: #d0502b;
}
.b3 {
    background: #2655c0;
}
.b4 {
    background: #25781f;
}