body{
	margin: 0;
	height: 100vh;
	position: relative;
}
body:before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: #535151;
}
body:after{
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: #28282e;
}
.container{
	padding: 4% 0;
	width: 80%;
	margin: 0 auto;
}
.owl-carousel img{
	height: 80vh;
	object-fit: cover;
}
.owl-carousel .item{
	position: relative;
}
.front{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #00000052;
	color: #fff;
	padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front h6{
	text-align: center;
	font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0;
}
.front h2{
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 4rem;
	margin: 0;
	position: relative;
}
.front h2:after{
	position: absolute;
	content:'';
	width: 20%;
	height: 1px;
	background: #fff;
	right: 102%;
	top: 50%;
}
.front h2:before{
	position: absolute;
	content:'';
	width: 20%;
    height: 1px;
    background: #fff;
    left: 102%;
    top: 50%;
}
.ebtn{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	background: #00000045;
    font-family: sans-serif;
	border: 1px solid #fff;
	width: 30%;
	padding: 3% 4%;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
button.owl-dot{
	margin: 0 10px;
}
button.owl-dot:focus{
	outline: none;
}
button.owl-dot span{
    height: 6px;
    width: 6px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
button.owl-dot.active span{
	display: inline-block;
    height: 6px;
    width: 6px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.75);
}
button.owl-prev {
    position: absolute;
    left: 0;
}
button.owl-next {
    position: absolute;
    right: 0;
}
button.owl-next:focus,button.owl-prev:focus{
	outline: none;
}
.owl-nav {
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}