<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Loader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="loader">
      <span>Loading</span>
    </div>
    <div class="container">
      <h1>HELLO DESIGNERS</h1>
      <h2>SUBSCRIBE, LIKE and COMMENT</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper eget nulla facilisi etiam dignissim diam quis. Tempor commodo ullamcorper a lacus vestibulum sed. Cras sed felis eget velit. Risus commodo viverra maecenas accumsan lacus. Quis commodo odio aenean sed adipiscing diam donec. Sit amet aliquam id diam maecenas ultricies. Auctor augue mauris augue neque gravida in fermentum et sollicitudin. Quisque sagittis purus sit amet volutpat consequat mauris. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Odio facilisis mauris sit amet massa vitae. Tempor orci dapibus ultrices in iaculis. Mauris ultrices eros in cursus turpis massa tincidunt. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae.
      </p>
    </div>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script type="text/javascript">    
  setTimeout(function(){
    $(".loader").css("height","0");
  }, 4000);
</script>