.logo h1{
	font-family: 'Monoton', cursive;
	font-size: unset;
}
.logo a{
	text-decoration: none;
	font-size: 19px;
	color: #fff;
}
.hero{
	height: 100vh;
	background-color: #616a64;
	position: relative;
}
.menu{
	float: right;
}
a.nav-link{
	color: #fff;
	text-decoration: none;;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}
.hero-container{
	background-color: #616a64;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-container img{
	position: absolute;
	bottom: 0;
}
.hero-container h5{
	position: absolute;
	font-size: 8rem;
	text-transform: uppercase;
	color: #f9f3f338;
	font-family: 'Roboto', sans-serif;
	top: 50%;
	transform: translateY(-50%);
}
.hero:before{
	position: absolute;
	content: "";
	height: 30rem;
	width: 30rem;
	background-color: #f9f3f369;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.navbar-toggler:focus{
	outline: none;
}
.navbar-toggler span{
	color: #fff;
}


.intro{
	padding: 3% 0;
	background-color: #000;
}
.intro-description{
	padding: 10% 0;
}
.intro-description h6{
	color: #fff;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 3rem;
	margin-bottom: 3rem;
}
.intro-description p{
	color: #ccc;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}
.intro-image img{
	width: 100%;
}
.project{
	padding: 3% 0;
	background-color: #000;
}
.white{
	color: #fff;
}
.title h6{
	text-align: center;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 3rem;
	margin-bottom: 3rem;
}
.proj-row{
	display: flex;
	flex-wrap: wrap;
}
.proj-item{
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #fff;
	display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
}
.proj-item img{
	width: 100%;
}
.proj-item h6 {
	font-weight: 600;
    font-size: 24px;
    margin: 3% 0;
    text-transform: uppercase;
}
.proj-item i::before {
    margin: 0;
 }
 .proj-item span {
    font-size: 20px;
}
.button{
	padding: 3% 0;
}
.viewbtn{
	display: block;
	width: 20%;
	margin: 0 auto;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 1%;
}
.viewbtn:hover{
	color: #fff;
	text-decoration: none;
}


.feature{
	padding: 3% 0;
}
.service-item{
	font-family: 'Nunito', sans-serif;
	margin: 3% 0;
}
.service-item span {
    font-weight: 600;
}
.service-item i::before {
    font-size: 30px;
    margin: 0;
}
.service-item span {
    font-size: 24px;
}
.service-item p {
    font-size: 20px;
}
.review{
	padding: 3% 0 8%;
	background-color: #000;
}
.review-item{
	font-family: 'Nunito', sans-serif;
	padding: 0 4%;
	position: relative;
}
.review-item p {
    padding: 14%;
    border: 1px solid #303342;
    color: #fff;
    font-size: 16px;
}
.identity {
    position: absolute;
    bottom: -38%;
    left: -6%;
    color: #fff;
}
.identity h6 {
    margin-top: 1rem;
}
.footer{
	padding: 3% 0;
	font-family: 'Nunito', sans-serif;
	background-color: #616A64;
}
.footer-item{
	color: #fff;
}
.footer-item h6 {
    font-size: 22px;
	font-family: 'Averia Serif Libre', cursive;
}
.footer-item ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-item input {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
}
.footer-item input:focus{
	outline: none;
}
input::placeholder{
	color: #fff;
}



/*Now responsive css*/
@media screen and (max-width: 968px){
	.menu span::before{
		color: #fff;
		margin: 0;
		font-size: 30px;
	}
	.hero-container h5{
		font-size: 4rem;
	}
	.hero-contianer img{
		width: 50%;
	}
	.hero:before{
		height: 20rem;
		width: 20rem;
	}
	.review-item {
	    margin: 10px 0;
	}
	.identity{
		position: unset;
	}
}
@media screen and (max-width: 768px){
	.logo a{
		font-size: 29px;
	}
	a.nav-link{
		font-size: 29px
	}
	.card-columns {
	    column-count: 2;
	}
}
@media screen and (max-width: 468px){
	.hero-container h5{
		font-size: 2rem;
	}
	.hero:before{
		width: 10rem;
		height: 10rem;
	}
	.logo a {
	    font-size: 20px;
	}
	.hero-container img {
	    position: absolute;
	    bottom: 0;
	    width: 50%;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.card-columns {
	    column-count: 1;
	}
}