@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
:root{
	--primary-color: #27DEBF;
}
body{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.title {
    text-align: center;
    margin: 50px 0;
}
.title h5{
	color: var(--primary-color);
	text-transform: uppercase;
}
.column-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
	width: 30%;
}
.card img{
    width: 100%;
}
.panel{
	padding: 5%;
	box-shadow: 0px 6px 18px -8px rgba(118,130,183,1);
	border-radius: 10px;
}
span.date {
    color: var(--primary-color);
    font-weight: 700;
}
a.allbtn {
    display: block;
    width: 10%;
    margin: 5% auto;
    background: var(--primary-color);
    text-align: center;
    color: #fff;
    padding: 1%;
    text-decoration: none;
    border-radius: 4px;
}
.card a {
    text-decoration: none;
    color: var(--primary-color);
}
.breaker {
    display: inline-block;
    height: 5px;
    background: var(--primary-color);
    width: 30px;
    position: relative;
    border-radius: 4px;
}
.breaker:after{
	position: absolute;
	content: "";
	background: var(--primary-color);
	width: 30px;
    height: 5px;
	left: 150%;
    border-radius: 4px;
}
@media screen and (max-width: 786px){
	.card{
		width: 45%;
		margin-bottom: 30px;
	}
	a.allbtn {
	    width: 20%;
	}
}

@media screen and (max-width: 430px){
	.card{
		width: 100%;
	}
	a.allbtn {
	    width: 30%;
	}
}